<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Geddit{% endblock %}</title>
  
  {% block imports %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nav_bar.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/logo.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sidebar.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/links.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/inputs.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/text_field.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"
        type="text/javascript"
        charset="utf8"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}js/main.js" type="text/javascript"></script>
  {% endblock %}
</head>

<body>  

<div id="heading">
  {% include 'base/logo.html' %}
  {% include 'base/navigation_bar.html' %}
</div>

<div id="sidebar-content">
  {% include 'base/sidebar.html' %}

  <div id="content">
    {% block content %}{% endblock %}
  </div>
</div>

</body>

{% block js_extra_imports %}
{% endblock %}

</html>
