<div id="nav-bar-container">
  <div id="nav-bar">
    <div id="nav_buttons">
      {% block navigation %}
        <div id="nav_buy"
             class="nav_button{% if nav_page == 'buy' %} nav_highlighted{% endif %}">
          <a href="{{ SITE_ROOT }}buy">Buy</a>
        </div>
        <div id="nav_sell"
             class="nav_button{% if nav_page == 'sell' %} nav_highlighted{% endif %}">
          <a href="{{ SITE_ROOT }}sell">Sell</a>
        </div>
        <div id="nav_dashboard"
             class="nav_button{% if nav_page == 'dashboard' %} nav_highlighted{% endif %}">
          <a href="{{ SITE_ROOT }}dashboard">Dashboard</a>
        </div>
        <div id="nav_settings"
             class="nav_button{% if nav_page == 'settings' %} nav_highlighted{% endif %}">
          <a href="{{ SITE_ROOT }}settings">Settings</a>
        </div>
      {% endblock %}
    </div>
    <div id="welcome_message" class="nav_button">Welcome, {{ user }}</div>
  </div>
  <div id="messages-container">
    <div id="message">
      {% if message %}
        <script type="text/javascript">
          flash("{{ message }}");
        </script>
      {% endif %}
    </div>
  </div>
</div>

