#buy-title {
    font-size: large;
    font-weight: bold;
}

#buy-columns {
    clear: both;
    padding: 10px 0px;
    width: 100%;
    height: 30px;
}

.buy-image-column {
    width: 100px;
    float: left;
}

.buy-name-column {
    width: 200px;
    float: left;
}

.buy-description-column {
    width: 400px;
    float: left;
}

.buy-price-column {
    width: 100px;
    float: left;
}

.buy-claim-column {
    float: right;
}

.buy-item-listing {
    clear: both;
    padding: 5px 0px;
}

