#buy-title {
}

#buy-columns {
}

.buy-image-column {
    width: 100px;
    float: left;
}

.buy-name-column {
    width: 200px;
    float: left;
}

.buy-description-column {
    width: 400px;
    float: left;
}

.buy-location {
    width: 200px;
    float: left;
}

.buy-price-column {
    width: 100px;
    float: left;
}

.buy-claim-column {
    float: right;
}

.buy-item-listing {
}

