#buy-title {
}

#buy-columns {
}

.buy-image-column {
    width: 10%;
    float: left;
}

.buy-name-column {
    width: 15%;
    float: left;
}

.buy-description-column {
    width: 35%;
    float: left;
}

.buy-location {
    width: 20%;
    float: left;
}

.buy-price-column {
    width: 10%;
    float: left;
}

.buy-claim-column {
    width: 10%;
    float: right;
}

.buy-item-listing {
}

