.claim {
}

.claim-item-name {
    width: 200px;
    float: left;
}

.claim-item-description {
    width: 400px;
    float: left;
}

.claim-item-price {
    width: 100px;
    float: left;
}

.claim-remove-button {
    width: 100px;
    float: left;
}

.claim-email-seller {
    float: left;
}

