.form-title {
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
}

.form-field {
    padding: 5px 10px;
}

.form-label {
    width: 200px;
    display: inline-block;
}

.form-field input[type=Text] {
    width: 200px;
}

.form-field .currency-field {
    display: inline-block;
}

.form-field .currency-field .dollar-sign {
    display: inline-block;
    width: 20px;
    float: left;
}

.form-field .currency-field input[type=Text] {
    width: 180px !important;
    float: left;
}


