.button {
    border: 1px solid #444;
    background: #DCF2EA;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

input[type=Text] {
    background: #FFF;
}

input[type=Text]:hover {
    background: #ff8;
}

input[type=Text]:focus {
    background: #ff8;
}

select {
    background: #FFF;
}

input[type=file] {
    background: #FFF;
}

input[type=file]:hover {
    background: #ff8;
}

select:hover {
    background: #ff8;
}