.item-listing {
}

.item-name {
    width: 200px;
    float: left;
}

.item-description {
    width: 400px;
    float: left;
}

.item-price {
    width: 100px;
    float: left;
}

.item-claim-button {
    float: left;
}

