#logo-space {
    display: inline-block;
    width: 20%;
}

#logo {
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
    border-radius: 10px;
}

#logo-image {
    width: 100px;
    max-height: 50px;
}

