#nav_bar {
    display: inline-block;
    width: 80%;
    float: left;
}

#nav_buttons {
    clear: right;
    height: 20px;
    background: darkblue;
}

#nav_buy {
}

#nav_sell {
}

#nav_reserve {
}

#nav_cart {
}

#nav_settings {
    float: right;
}

.nav_button {
    display: inline;
    background: darkblue;
}

.nav_button a {
    color: white;
}

.nav_highlighted {
    background: cornflowerblue;
}

#search {
}


