#nav-bar-container {
    display: inline-block;
    position: absolute;
    padding: 10px;
    left: 20%;
}

#nav-bar {
}

#nav_buttons {
    clear: right;
    height: 40px;
}

#nav_buy {
}

#nav_sell {
}

#nav_dashboard {
}

#nav_cart {
}

#nav_settings {
}

.nav_button {
    display: inline-block;
    background: darkblue;
    border-radius: 15px;
    font-size: 30px;
}

.nav_button a {
    color: white;
}

.nav_highlighted {
    background: cornflowerblue;
}

#messages-container {
    display: none;
    margin: 20px auto;
    text-align: center;
}

#message {
    display: inline-block;
    background: #FFFED8;
    border: 1px solid #CCC;
    padding: 6px;
}

