#nav-bar-container {
    display: inline-block;
<<<<<<< HEAD
/*    background-image: url("/static/images/banner.png");*/
    width: 80%;
=======
    position: absolute;
    padding: 20px 10px;
    left: 20%;
>>>>>>> e1b858365c7d4d52f037d0dcc3f12b66e04e5698
}

#nav-bar {
}

#nav_buttons {
    clear: right;
    height: 40px;
}

#nav_buy {
}

#nav_sell {
}

#nav_dashboard {
}

#nav_cart {
}

#nav_settings {
}

.nav_button {
    display: inline-block;
    border-radius: 15px;
    font-size: 30px;
}

.nav_button a {
    color: black;
}

.nav_highlighted {
    text-decoration:underline;
}

#messages-container {
    display: none;
    margin: 20px auto;
    text-align: center;
}

#message {
    display: inline-block;
    background: #FFFED8;
    border: 1px solid #CCC;
    padding: 6px;
}

