#reserve-title {
    float: left;
}

#new-reservation-button {
    float: right;
}

#reservation-columns {
    clear: both;
    padding: 10px 0px;
    height: 30px;
}

#new-reservation {
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;

    background: white;
    opacity: 1.0;
    z-index: 1001;
}

.reservation {
    clear: both;
    padding: 5px 0px;
}

.reservation-search-query-column {
    width: 300px;
    float: left;
}

.reservation-max-price-column {
    width: 200px;
    float: left;
}

.reservation-delete-column {
    float: right;
}

