#reserve-title {
}

#new-reservation-button {
    padding: 10px 0px;
}

#reservation-columns {
    clear: both;
}

#new-reservation {
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;

    background: white;
    opacity: 1.0;
    z-index: 1001;
    
    padding: 2%;
}

#new-reservation.input[type=Submit] {
    float: left;
}

#new-reservation.input[type=Button] {
    float: left;
}

.reservation {
}

.reservation-search-query-column {
    width: 60%;
    float: left;
}

.reservation-max-price-column {
    width: 30%;
    float: left;
}

.reservation-delete-column {
    width: 10%;
    float: right;
}

