#new-reservation {
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;

    background: white;
    opacity: 1.0;
    z-index: 1001;
}

.reservation {
    clear: both;
}

.reservation-search-query {
    width: 300px;
    float: left;
}

.reservation-max-price {
    width: 100px;
    float: left;
}

.reservation-delete {
    float: left;
}

