#sell-listings-title {
    display: inline;
}

#new-listing-button {
    float: right;
}

#new-listing {
    position: fixed;
    top: 10%;
    left: 25%;
    right: 25%;

    background: white;
    opacity: 1.0;
    z-index: 1001;
    
    padding: 1%;
}

#sell-create-button {
    margin-top: 1%;
    float: left;
}

#sell-cancel-button {
    margin-top: 1%;
    float: left;
}

#map_canvas {
    clear: both;
}

#sell-columns {
}

.sell-image-column {
    width: 10%;
    float: left;
}

.sell-name-column {
    width: 25%;
    float: left;
}

.sell-description-column {
    width: 40%;
    float: left;
}

.sell-price-column {
    width: 15%;
    float: left;
}

.sell-remove-column {
    width: 10%;
    float: right;
}

.sell-item {
}

