#sell-listings-title {
    display: inline;
}

#new-listing-button {
    float: right;
}

#new-listing {
    position: fixed;
    top: 10%;
    left: 25%;
    right: 25%;

    background: white;
    opacity: 1.0;
    z-index: 1001;
    
    padding: 1%;
}

#sell-create-button {
    margin-top: 1%;
    float: left;
}

#sell-cancel-button {
    margin-top: 1%;
    float: left;
}

#map_canvas {
    clear: both;
}

#sell-reservation-table {
    width: 100%;
    border-collapse: collapse;
}

.sell-reservation {
}

.sell-reservation-search-query-column {
    width: 60%;
    text-align: center;
}

.sell-reservation-max-price-column {
    width: 40%;
    text-align: center;
}

