#sell-listings-title {
    display: inline;
}

#new-listing-button {
    float: right;
}

#new-listing {
    position: fixed;
    top: 10%;
    left: 25%;
    right: 25%;

    background: white;
    opacity: 1.0;
    z-index: 1001;
}

#sell-create-button {
    float: left;
}

#sell-cancel-button {
    float: left;
}

#map_canvas {
    clear: both;
}

#sell-columns {
}

.sell-image-column {
    width: 100px;
    float: left;
}

.sell-name-column {
    width: 200px;
    float: left;
}

.sell-description-column {
    width: 400px;
    float: left;
}

.sell-price-column {
    width: 100px;
    float: left;
}

.sell-remove-column {
    float: right;
}

.sell-item {
}

