#sidebar {
    width: 20%;
    display: inline-block;
}

#sidebar-container {
    margin: 10px 10px 10px 20px;
    background: #E8E8E8;
    border-radius: 10px;
}

#sidebar-title {
    padding: 10px 10px;
    font-size: large;
    font-weight: bold;
}

.sidebar-category-link {
    font-size: 11pt;
}

.sidebar-category-link a {
    color: #000099;
}

