#sidebar {
    position: absolute;
    width: 300px;
    background: lightskyblue;
}

#sidebar-title {
    padding: 10px 10px;
    font-size: large;
    font-weight: bold;
}

.sidebar-category-link {
    font-size: 11pt;
}

.sidebar-category-link a {
    color: blue;
}

