#sidebar {
    width: 20%;
    display: inline-block;
}

<<<<<<< HEAD
    background: #EEE;
    margin: 10px;
    
    border-bottom: 1px solid #CCC;
=======
#sidebar-container {
    margin: 10px 10px 10px 20px;
    background: #E8E8E8;
    border-radius: 10px;
>>>>>>> e1b858365c7d4d52f037d0dcc3f12b66e04e5698
}

#sidebar-title {
    padding: 10px 10px;
    font-size: large;
    background: #AAA;
    border: 1px solid #CCC;
}

.sidebar-category-link {
    font-size: 11pt;
}

.sidebar-category-link a {
    color: #000099;
}

