body {
    margin: 0px;
}

#heading {
}

#sidebar-content {
}

#content {
<<<<<<< HEAD
    background: #FFF;
=======
    display: inline-block;
    background: aliceblue;
>>>>>>> e1b858365c7d4d52f037d0dcc3f12b66e04e5698

    position: absolute;
    left: 20%;
    right: 0px;

    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

/* Not a great font, but we should specify our own for consistency */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 1.1em;
    margin: 0px;
}

h2 {
    font-size: 1.05em;
}

.unimportant-font {
    font-size: 11px;
    color: gray;
}

