table {
    border: 1px solid #AAA;
}
.table-title {
    font-size: larger;
/*    font-weight: bold;*/
}

.table-column-titles-row {
    clear: both;
    height: 30px;
}

.table-column-title {
    font-weight: bold;
}

.table-row {
    clear: both;
    padding: 5px 0px;
    overflow: auto;
}

td {
    padding: 10px 0px;
}

.item-image {
    max-width: 100%;
    max-height: 100px;
    display: block;
}

.lightcolor {
    background: #FFF;
}

.darkcolor {
    background: #EEE;
}

