.table-title {
    font-size: large;
    font-weight: bold;
}

.table-column-titles-row {
    clear: both;
    height: 30px;
}

.table-column-title {
    font-weight: bold;
}

.table-row {
    clear: both;
    padding: 5px 0px;
    overflow: auto;
}

.item-image {
    max-width: 100px;
    max-height: 100%;
}

.lightcolor {
    background: aliceblue;
}

.darkcolor {
    background: lightblue;
}

