{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/buy.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/table.css" />

<div id="buy-title" class="table-title">Listings</div><br>
<div id="buy-columns" class="table-column-titles-row">
  <div class="table-column-title buy-image-column">Image</div>
  <div class="table-column-title buy-name-column">Name</div>
  <div class="table-column-title buy-description-column">Description</div>
  <div class="table-column-title buy-location">Location</div>
  <div class="table-column-title buy-price-column">Price</div>
  <div class="table-column-title buy-claim-column"></div>
</div>

{% for item in items %}
  <div class="table-row buy-item-listing">
    <div class="buy-image-column unimportant-font">
      {% if item.image %}
        <img class="item-image" src="{{ item.image.url }}" alt="(No image)" />
      {% else %}
        (No image)
      {% endif %}
    </div>
    <div class="buy-name-column">{{ item.name }}</div>
    <div class="buy-description-column">{{ item.description }}</div>
    <div class="buy-location unimportant-font">
      {% if item.seller_user.location %}
        {{ item.seller_user.location.name }}
      {% else %}
        (Not listed)
      {% endif %}
    </div>
    <div class="buy-price-column">${{ item.price }}</div>
    <div class="buy-claim-column">
      <form name="claim" action="{{ SITE_ROOT }}claim" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_id" value={{ item.id }}>
        <input type="submit" value="Claim" class="button">
      </form>
    </div>
  </div>
{% endfor %}
{% endblock %}

