{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/listing.css" />

{% for item in items %}
  <div class="item-listing">
    <div class="item-image-holder">
      {% if item.image %}
        <img class="item-image" src="{{ item.image.url }}" alt="No image available" />
      {% else %}
        (No image available)
      {% endif %}
    </div>
    <div class="item-name">
      {{ item.name }}
    </div>
    <div class="item-description">
      {{ item.description }}
    </div>
    <div class="item-price">
      ${{ item.price }}
    </div>
    <div class="item-claim-button">
      <form name="claim" action="{{ SITE_ROOT }}claim" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_id" value={{ item.id }}>
        <input type="submit" value="Claim">
      </form>
    </div>
  </div>
{% endfor %}
{% endblock %}

