{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cart.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/table.css" />

<div id="cart-title" class="table-title">Cart</div><br>
<div id="cart-columns" class="table-column-titles-row">
  <div class="table-column-title cart-image-column">Image</div>
  <div class="table-column-title cart-name-column">Name</div>
  <div class="table-column-title cart-description-column">Description</div>
  <div class="table-column-title cart-price-column">Price</div>
  <div class="table-column-title cart-unclaim-column"></div>
  <div class="table-column-title cart-email-seller-column"></div>
</div>

{% for claim in claims %}
  <div class="table-row claim">
    <div class="cart-image-column unimportant-font">
      {% if claim.item.image %}
        <img class="item-image" src="{{ claim.item.image.url }}" alt="(No image)" />
      {% else %}
        (No image)
      {% endif %}
    </div>
    <div class="cart-name-column">{{ claim.item.name }}</div>
    <div class="cart-description-column">{{ claim.item.description }}</div>
    <div class="cart-price-column">${{ claim.item.price }}</div>
    <div class="cart-email-seller-column">
      <!--form name="email_seller" action="{{ SITE_ROOT }}email_seller" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_id" value={{ claim.item.id }}>
        <input type="submit" value="Email Seller">
      </form-->
      <form name="email_seller" action="mailto:{{ claim.item.seller_user.email }}" method="link">
        <input type="submit" value="Email Seller" class="button">
      </form>
    </div>
    <div class="cart-unclaim-column">
      <form name="unclaim" action="{{ SITE_ROOT }}unclaim" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_id" value={{ claim.item.id }}>
        <input type="submit" value="Unclaim" class="button">
      </form>
    </div>
  </div>
{% endfor %}
{% endblock %}

