{% extends "base.html" %}

{% block content %}
{% for item in items %}
  <div class="item-listing">
    <div class="item-name">
      {{ item.name }}
    </div>
    <div class="item-description">
      {{ item.description }}
    </div>
    <div class="item-price">
      ${{ item.price }}
    </div>
    <div class="item-claim-button">
      <form name="claim" action="/claim_listing" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_id" value={{ item.id }}>
        <input type="submit" value="Claim">
      </form>
    </div>
  </div>
{% endfor %}
{% endblock %}

