<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nav_bar.css" />

<div id=nav_bar">
  <div id="nav_buttons">
    {% block navigation %}
      <a href="{{ SITE_ROOT }}buy">Buy</a>
      <a href="{{ SITE_ROOT }}sell">Sell</a>
      <a href="{{ SITE_ROOT }}reserve">Reserve</a>
      <a href="{{ SITE_ROOT }}cart">Cart</a>
      <a href="{{ SITE_ROOT }}settings">Settings</a>
    {% endblock %}
  </div>
  <div id="search">
    {% block search %}
    <form name="search" action="{{ SITE_ROOT }}buy" method="get">
      <input type="text" name="search_query" />
      <input type="submit" value="Search" />
    </form>
    {% endblock %}
  </div>

</div>

