{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reserve.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/greyout.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/table.css" />

<!-- Stuff for new reservations -->
<div class="greyout greyout-visible"></div>
<div id="new-reservation" class="greyout-visible">
  <h1>New Reservation</h1>
  <form name="reserve" action="{{ SITE_ROOT }}new_reservation" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create">
  </form>
  <input type="submit" value="Cancel" onclick="hideGreyoutDialog();">
</div>

<!-- Existing reservations -->
<div id="reserve-title" class="table-title">My Reservations</div>
<div id="new-reservation-button">
  <input type="submit" value="New Reservation" onclick="showGreyoutDialog();">
</div>

<br><br>

<div id="reservation-columns" class="table-column-titles-row">
  <div class="table-column-title reservation-search-query-column">Search Query</div>
  <div class="table-column-title reservation-max-price-column">Maximum Price</div>
  <div class="table-column-title reservation-delete-column"></div>
</div>

{% for reservation in reservations %}
  <div class="table-row reservation">
    <div class="reservation-search-query-column">{{ reservation.search_query }}</div>
    <div class="reservation-max-price-column">{{ reservation.max_price }}</div>
    <div class="reservation-delete-column">
      <form name="delete" action="{{ SITE_ROOT }}delete_reservation" method="post">
        {% csrf_token %}
        <input type="hidden" name="reservation_id" value={{ reservation.id }}>
        <input type="submit" value="Delete">
      </form>
    </div>
  </div>
{% endfor %}

{% endblock %}

{% block js_extra_imports %}
<script src="{{ STATIC_URL }}js/greyout_dialog.js"
    type="text/javascript"
    charset="utf8"></script>
{% endblock %}

