{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reserve.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/greyout.css" />

<!-- Stuff for new reservations -->
<input type="submit" value="New Reservation" onclick="showNewReservationDialog();">

<div class="greyout greyout-visible"></div>
<div id="new-reservation" class="greyout-visible">
  <h1>New Reservation</h1>
  <form name="reserve" action="{{ SITE_ROOT }}new_reservation" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create">
  </form>
  <input type="submit" value="Cancel" onclick="hideNewReservationDialog();">
</div>

<!-- Existing reservations -->
<h1>My Reservations</h1>
{% for reservation in reservations %}
  <div class="reservation">
    <div class="reservation-search-query">
      {{ reservation.search_query }}
    </div>
    <div class="reservation-max-price">
      {{ reservation.max_price }}
    </div>
    <div class="reservation-delete">
      <form name="delete" action="{{ SITE_ROOT }}delete_reservation" method="post">
        {% csrf_token %}
        <input type="hidden" name="reservation_id" value={{ reservation.id }}>
        <input type="submit" value="Delete">
      </form>
    </div>
  </div>
{% endfor %}

{% endblock %}

{% block js_extra_imports %}
<script src="{{ STATIC_URL }}js/reserve.js"
    type="text/javascript"
    charset="utf8"></script>
{% endblock %}

