{% extends "base.html" %}

{% block imports %}
  {{ block.super }}
  <style type="text/css">
    div#map_canvas {
      width: 300px;
      height: 300px;
      border: 1px solid black;
    }
  </style>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sell.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/greyout.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/form.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/table.css" />

<!-- Stuff for new listings -->
<div class="greyout greyout-visible"></div>
<div id="new-listing" class="greyout-visible">
  <div class="form-title"><h1>New Listing</h1></div>
  <form enctype="multipart/form-data" action="{{ SITE_ROOT }}sell" method="post">
    {% csrf_token %}
    <div class="form-field">
      {{ form.name.errors }}
      <label for="id_{{ form.name.html_name }}" class="form-label">
        Item name:
      </label>
      {{ form.name }}
    </div>
    <div class="form-field">
      {{ form.description.errors }}
      <label for="id_{{ form.description.html_name }}" class="form-label">
        {{ form.description.label }}:
      </label>
      {{ form.description }}
    </div>
    <div class="form-field">
      {{ form.category.errors }}
      <label for="id_{{ form.category.html_name }}" class="form-label">
        {{ form.category.label }}:
      </label>
      {{ form.category }}
    </div>
    <div class="form-field">
      {{ form.price.errors }}
      <label for="id_{{ form.price.html_name }}" class="form-label">
        {{ form.price.label }}:
      </label>
      <div class="currency-field">
      <div class="dollar-sign">$</div>
      <input type="text" id="id_price" name="price" class="price-field">
      </div>
    </div>
    <div class="form-field">
      {{ form.image.errors }}
      <label for="id_{{ form.image.html_name }}" class="form-label">
        {{ form.image.label }}:
      </label>
      {{ form.image }}
    </div>
    <input id="sell-create-button" class="button" type="submit" value="Create Listing" />
    <input id="sell-cancel-button" type="button" class="button" value="Cancel" onclick="hideGreyoutDialog();">
  </form>
<!--
  {% if latitude and longitude %}
    <div id="map_canvas">
    </div>

    <div id="lat" style="display: none;">{{ latitude }}</div>
    <div id="lng" style="display: none;">{{ longitude }}</div>
  {% endif %}
-->
</div>

<div id="sell-listings-title" class="table-title"><h1>Things People Have Requested</h1></div>
<div id="new-listing-button">
  <input type="button" class="button" value="New Listing" onclick="showGreyoutDialog();">
</div>

<table id="sell-reservation-table">
  <thead>
    <tr id="sell-reservation-columns" class="table-column-titles-row">
      <td class="table-column-title sell-reservation-search-query-column">Item</td>
      <td class="table-column-title sell-reservation-max-price-column">Max Price</td>
    </tr>
  </thead>

  <tbody>
    {% for reservation in reservations %}
      {% cycle 'darkcolor' 'lightcolor' as rowcolor silent %}
      <tr class="table-row sell-reservation {{ rowcolor }}">
        <td class="sell-reservation-search-query-column">{{ reservation.search_query }}</td>
        <td class="sell-reservation-max-price-column">${{ reservation.max_price }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js_extra_imports %}
<script
  type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBAomHvVoRCbc7MW7p0IpnJdSgGcFlbMUA&sensor=false">
</script>
<script
  type="text/javascript"
  src="{{ STATIC_URL }}js/google_maps.js">
</script>
<script src="{{ STATIC_URL }}js/greyout_dialog.js"
    type="text/javascript"
    charset="utf8"></script>
{% endblock %}
