{% extends "base.html" %}

{% block imports %}
  {{ block.super }}
  <style type="text/css">
    div#map_canvas {
      width: 300px;
      height: 300px;
      border: 1px solid black;
    }
  </style>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sell.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/greyout.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/table.css" />

<!-- Stuff for new listings -->
<div class="greyout greyout-visible"></div>
<div id="new-listing" class="greyout-visible">
  <form enctype='multipart/form-data' action="{{ SITE_ROOT }}sell" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create Listing" />
  </form>

  <div id="map_canvas">

  </div>

  <div id="lat" style="display: none;">{{ latitude }}</div>
  <div id="lng" style="display: none;">{{ longitude }}</div>
  <input type="submit" value="Cancel" onclick="hideGreyoutDialog();">
</div>

<!-- Existing listings -->
<div id="sell-listings-title" class="table-title">My Listings</div>
<div id="new-listing-button">
  <input type="submit" value="New Listing" onclick="showGreyoutDialog();">
</div>

<br><br>
<div id="sell-columns" class="table-column-titles-row">
  <div class="table-column-title sell-image-column">Image</div>
  <div class="table-column-title sell-name-column">Name</div>
  <div class="table-column-title sell-description-column">Description</div>
  <div class="table-column-title sell-price-column">Price</div>
  <div class="table-column-title sell-remove-column"></div>
</div>

{% for item in items %}
  <div class="sell-item table-row">
    <div class="sell-image-column item-image-text">
      {% if item.image %}
        <img class="item-image" src="{{ item.image.url }}" alt="(No image)" />
      {% else %}
        (No image)
      {% endif %}
    </div>
    <div class="sell-name-column">{{ item.name }}</div>
    <div class="sell-description-column">{{ item.description }}</div>
    <div class="sell-price-column">${{ item.price }}</div>
    <div class="sell-remove-column">
      <form name="sell_item" action="{{ SITE_ROOT }}remove_item" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_id" value={{ item.id }}>
        <input type="submit" value="Remove">
      </form>
    </div>
  </div>
{% endfor %}

{% endblock %}

{% block js_extra_imports %}
<script
  type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBAomHvVoRCbc7MW7p0IpnJdSgGcFlbMUA&sensor=false">
</script>
<script
  type="text/javascript"
  src="{{ STATIC_URL }}js/google_maps.js">
</script>
<script src="{{ STATIC_URL }}js/greyout_dialog.js"
    type="text/javascript"
    charset="utf8"></script>
{% endblock %}
