{% extends "base/base.html" %}

{% block imports %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard/claims_table.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard/divider.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard/new_reservation_form.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard/reservation_table.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard/sell_table.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard/dashboard.css" />

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/greyout.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/form.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/table.css" />
{% endblock %}

{% block content %}
  <!-- Claims -->
  <div class="table-title"><h1>Stuff to Pick Up</h1></div>
  {% include 'dashboard/claims_table.html' %}

  <!-- Divider -->
  <div class="divider"></div>

  <!-- Stuff for new reservations -->
  {% include 'dashboard/new_reservation_form.html' %}

  <!-- Existing reservations -->
  <div class="table-title"><h1>My Reservations</h1></div>
  <div id="new-reservation-button">
    <input type="button" value="New Reservation" onclick="showGreyoutDialog();"
      class="button">
  </div>

  {% include 'dashboard/reservations_table.html' %}

  <!-- Divider -->
  <div class="divider"></div>

  <!-- Existing listings -->
  <div class="table-title"><h1>My Listings</h1></div>
  {% include 'dashboard/sell_table.html' %}
{% endblock %}

{% block js_extra_imports %}
<script src="{{ STATIC_URL }}js/greyout_dialog.js"
    type="text/javascript"
    charset="utf8"></script>
{% endblock %}

