{% if items %}
  <table id="sell-items-table">
    <thead>
      <tr class="table-column-titles-row">
        <td class="table-column-title sell-item-image-column">Image</td>
        <td class="table-column-title sell-item-name-column">Name</td>
        <td class="table-column-title sell-item-description-column">Description</td>
        <td class="table-column-title sell-item-price-column">Price</td>
        <td class="table-column-title sell-item-remove-column"></td>
      </tr>
    </thead>

    <tbody>
      {% for item in items %}
        {% cycle 'darkcolor' 'lightcolor' as rowcolor silent %}
        <tr class="table-row {{ rowcolor }}">
          <td class="sell-item-image-column unimportant-font">
            {% if item.image %}
              <img class="item-image" src="{{ item.image.url }}" alt="(No image)" />
            {% else %}
              (No image)
            {% endif %}
          </td>
          <td class="sell-item-name-column">{{ item.name }}</td>
          <td class="sell-item-description-column">{{ item.description }}</td>
          <td class="sell-item-price-column">${{ item.price }}</td>
          <td class="sell-item-remove-column">
            <form name="sell_item" action="{{ SITE_ROOT }}remove_item" method="post">
              {% csrf_token %}
              <input type="hidden" name="item_id" value={{ item.id }}>
              <input type="submit" value="Remove" class="button">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>You have no items for sale.</p>
{% endif %}
