#new-listing {
    position: fixed;
    top: 10%;
    left: 25%;
    right: 25%;

    background: white;
    opacity: 1.0;
    z-index: 1001;
    
    padding: 1%;
}

#sell-create-button {
    margin-top: 1%;
    float: left;
}

#sell-cancel-button {
    margin-top: 1%;
    float: left;
}

