#claim-table {
    width: 100%;
    border-collapse: collapse;
}

.claim-image-column {
    width: 10%;
    text-align: center;
}

.claim-name-column {
    width: 15%;
    text-align: center;
}

.claim-description-column {
    width: 30%;
    text-align: center;
}

.claim-location-column {
    width: 15%;
    text-align: center;
}

.claim-price-column {
    width: 10%;
    text-align: center;
}

.claim-unclaim-column {
    width: 10%;
    text-align: center;
}

.claim-email-seller-column {
    width: 10%;
    text-align: center;
}

